{%include file="header.html"%}

<link rel="stylesheet" type="text/css" href="{%$staticUrl%}/css/regist.css">
<script type="text/javascript" src="{%$staticUrl%}/js/regist.js"></script>


{%include file="handlebars_template/user_list.html"%}


<script id="helperTest" type="text/x-handlebars-template">
    <h1>By {{fullName author}}</h1><br>
    {{body}}

    <h1>Comments</h1>
    {{#each comments}}
        <h2>By {{fullName author}}</h2><br>
        aaaaaa====={{../body}}<br>
        {{{agree_button}}}<br>
        {{body}}
    {{/each}}
</script>


<body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" href="#">playab</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <i class="icon-user icon-white"></i>
                aaaaaaaaaaaaaaa
            </p>
          </div>
        </div>
      </div>
    </div>
        

    <form action="{%$baseUrl%}user/registCommit" method="post" class="form-horizontal register-form" id="registForm">
        <div class="control-group">
            <label class="control-label" for="inputEmail">邮箱</label>
            <div class="controls">
                <input type="text" id="inputEmail" name="email" placeholder="邮箱">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">密码</label>
            <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="密码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhoneNum">电话</label>
            <div class="controls">
                <input type="text" id="inputPhoneNum" name="phone" placeholder="电话">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">性别</label>
            <div class="controls">
                <input type="radio" id="sexMale" name="sex">男
                <input type="radio" id="sexFemale" name="sex">女
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">爱好</label>
            <div class="controls">
                <input type="checkbox" value="reading" name="hobby[]" />读书
                <input type="checkbox" value="swimming" name="hobby[]" />游泳
                <input type="checkbox" value="sports" name="hobby[]" />体育
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">课程</label>
            <div class="controls">
                <select name="course" multiple="multiple">
                    <option value=""></option>
                    <option value="yuwen">语文</option>
                    <option value="shuxue">数学</option>
                    <option value="dili">地理</option>
                    <option value="huaxue">化学</option>
                    <option value="wuli">物理</option>
                </select>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-info register-btn">注册</button>

                <button type="button" class="btn btn-info register-btn" onclick="jQuery.register.getUserList()">handlebars</button>
            </div>
        </div>
    </form>


    <div id="userList">
    </div>
</body>

</html>