<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />

    <title>Playab_oa</title>

    <script type="text/javascript">
        var UrlConfig = {
            adminBaseUrl: '{%$adminBaseUrl%}',
            adminStaticUrl: '{%$adminStaticUrl%}'
        }
    </script>

    <!--***************************   load js ********************-->
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-1.10.2/jquery.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-2.3.2/js/bootstrap.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/handlebars-1.0.0/handlebars.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/handlebars-1.0.0/handlebars_helpers.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-datetimepicker/js/bootstrap-datetimepicker.fr.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-modal-master/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-modal-master/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-validation-1.11.1/jquery.validate.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-validation-1.11.1/localization/messages_zh.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-validation-1.11.1/additional-methods.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/rivets-0.5.12/rivets.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/rivets-0.5.12/rivets.general_custom.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/isloading/jquery.isloading.js"></script>

    <script type="text/javascript" src="{%$adminStaticUrl%}/js/user.js"></script>

    <!--***************************   load css ********************-->
    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-2.3.2/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-2.3.2/css/bootstrap-responsive.css"/>
    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-datetimepicker/css/datetimepicker.css"/>
    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-modal-master/css/bootstrap-modal.css"/>

    <link type="text/css" rel="stylesheet" href="{%$adminStaticUrl%}/css/user.css" />
</head>

<body>