{%if $pager.maxPager > 1%}
    <div class="pagination" id="pagerDiv">
        <ul style="display: block;">
            {%if $pager.pageIndex>1%}
                <li data-page="{%$pager.pageIndex-1%}">
                    <a>&lt;</a>&nbsp;
                </li>
            {%/if%}

            {%for $page=1 to $pager.maxPager%}
                {%if $pager.pageIndex==$page%}
                    <li class="active disabled" data-page="{%$page%}"><span>{%$page%}</span></li>
                {%else%}
                    <li data-page="{%$page%}">
                        <a>
                            &nbsp;<strong>{%$page%}</strong>&nbsp;
                        </a>
                    </li>
                {%/if%}
            {%/for%}

            {%if $pager.pageIndex<$pager.maxPager%}
                <li data-page="{%$pager.pageIndex+1%}">
                    <a>&gt;</a>&nbsp;
                </li>
            {%/if%}
        </ul>
    </div>
{%/if%}