<html>
<head>
  <title>Upload Form</title>
  </head>
  <body>

  <?php if(!empty($error)){ ?>
    <?php echo $error;?>
  <?php } ?>

  <?php if(!empty($upload_data)){ ?>
    <h3>Your file was successfully uploaded!</h3>

    <ul>
    <?php foreach ($upload_data as $item => $value):?>
    <li><?php echo $item;?>: <?php echo $value;?></li>
    <?php endforeach; ?>
    </ul>

    <p>Upload Another File!</p>
  <?php } ?>


  <?php echo form_open_multipart('testController/autoUpload');?>

    <input type="file" name="userfile" size="20" />

    <br /><br />
    <input type="hidden" name="uploadSubmit" value="1">
    <input type="submit" value="上传" />

  </form>

  </body>
</html>