<h2>Create a news hint user</h2>

<?//php echo validation_errors('<div style="color:red">', '</div>'); ?>

<?php echo form_open('testController/createNewUser') ?>
  
  <?php echo form_error('email', '<div style="color:red">', '</div>'); ?>
  Input Email<input type="text" name="email" value="<?php echo set_value('email', '123@163.com'); ?>"/><br />

  <?php echo form_error('password', '<div style="color:red">', '</div>'); ?>
  Input Password<input type="password" name="password" value="<?php echo set_value('password'); ?>"/><br />

  <?php echo form_error('password_again', '<div style="color:red">', '</div>'); ?>
  Input Password Again<input type="password" name="password_again" value="<?php echo set_value('password_again'); ?>"/><br />
  


  <select name="myselect">
    <option value="one" <?php echo set_select('myselect', 'one', TRUE); ?> >One</option>
    <option value="two" <?php echo set_select('myselect', 'two'); ?> >Two</option>
    <option value="three" <?php echo set_select('myselect', 'three'); ?> >Three</option>
  </select>
  <br>

  <?php echo form_error('mycheck[]', '<div style="color:red">', '</div>'); ?>
  <input type="checkbox" name="mycheck[]" value="1" <?php echo set_checkbox('mycheck[]', '1', TRUE); ?> />aa
  <input type="checkbox" name="mycheck[]" value="2" <?php echo set_checkbox('mycheck[]', '2'); ?> />bb
  <br>

  <input type="radio" name="myradio" value="1" <?php echo set_radio('myradio', '1', TRUE); ?> />cc
  <input type="radio" name="myradio" value="2" <?php echo set_radio('myradio', '2'); ?> />dd
  <br>


  <input type="submit" name="submit" value="ti jiao" /> 

</form>