<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Codeigniter</title>
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />

    <script type="text/javascript">
        var UrlConfig = {
            baseUrl: '{%$baseUrl%}',
            staticUrl: '{%$staticUrl%}'
        }
    </script>

    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-1.10.2/jquery.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-validation-1.11.1/jquery.validate.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/jquery-validation-1.11.1/additional-methods.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/bootstrap-2.3.2/js/bootstrap.js"></script>
    <script type="text/javascript" src="{%$staticUrl%}/libraries/handlebars-1.0.0/handlebars.js"></script>

    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-2.3.2/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{%$staticUrl%}/libraries/bootstrap-2.3.2/css/bootstrap-responsive.css">
</head>