.container-fluid {
    background-color: #DDDDDD;
    height: 90%;
}

.input-prepend .add-on {
    height: 50px;
    width: 85px;
}

.input-prepend input[type="text"], input[type="password"] {
    height: 49px;
}

.my-span3 {
    float: right;
    font-size: 20px;
    list-style: none;
    margin-top: 20px;
}

.my-span5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-header {
    background-color: #999999;
}

.input-prepend {
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 320px;
}

.error {
    color: red;
}

.error-line {
    margin-left: 95px;
}

.user-status {
    color: red;
}